// 自定义高亮文字块
.bgc-e4e6e8
  padding: 4px
  color: #000
  font-size: 12px
  font-weight: 400
  border-radius: 4px
  background: #e4e6e8


.bgc-6435c9
  padding: 4px
  color: #fff
  font-size: 12px
  font-weight: 400
  border-radius: 4px
  background: #6435c9


.bgc-a5673f
  padding: 4px
  color: #fff
  font-size: 12px
  font-weight: 400
  border-radius: 4px
  background: #a5673f